
html {
  font:400 18px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body, h1, h2, h3, p {
  margin: 0;
  padding 0;
}

body {
  background: url('img/bg.jpg');
  background-size: cover;
  background-color: #fff;
  background-position: top;
  background-repeat: no-repeat;
  color: #444;
  margin-bottom: 32px;
}

h1 {
  margin: 24px 0 8px;
}

h2 {
  margin-bottom: 24px;
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 18px;
}

p {
  margin-bottom: 18px;
}

.top-bar {
  height: 44px;
  width: 100%;
  text-align: right;
  padding: 14px 0;
  border-bottom: #ccc 1px solid;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  border: #0000db 1px solid;
  border-radius: 3px;
}

a.btn {
  text-decoration: none;
}
